body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.currency-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.title{
    margin-bottom: 50px;
}
.amount{
    width: 100px;
    height: 35px;
    margin-right: 10px;
}
.result{
    width: 100px;
    height: 35px;
   
}
.from-currency-option{
    width: 100px;
    height: 40px;
    margin-right: 10px;
}
.to-currency-option{
    width: 100px;
    height: 40px;
    margin-right: 10px;
}
.exchange-btn{
    padding: 10px;

    font-size: medium;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background-color: black;
    color:#549F3B;
    font-weight: 600;
    cursor: pointer;
}
.exchange-btn:hover{
    background-color: #549F3B;
    color: #fff;
}