body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(assets/bitcoin-3089728_1280.jpg);
  background-image: url(assets/dollars-499481_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}